*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    // background-color: rgb(127, 187, 177);
    font-size: 16px;
    // color: aliceblue;

    ul{
        list-style: none;
    }
   
    p{
        font-size: 16px;
        line-height: 26px;

    }
}

// variable in sass changes the color 

$BasicColor : rgb(128, 9, 0);

h3 {
 color: $BasicColor;
}
p{
    color: $BasicColor;
}
button{
    background-color: $BasicColor;
    color: aliceblue;
}

.nested-scss{
    background-color: rgb(189, 89, 189);
    opacity: 0.9;
    
    h1{
        text-align: center;
        font-style: italic;
    }

    ul{
        list-style-type: none;
        li{
            display: inline-block;
            a{
               display: block;
               padding: 10px 15px; 
               margin: 5px;
               background-color: aquamarine;
               color: #000;
               text-decoration: none;
               transition: 0.5s ease-out;
               border-radius: 5px;

               &:hover{
                background-color: rgb(51, 74, 179);
                color: aliceblue;

               }
            }
        }
    }

}


// scss operator is 

.scss-operator{

       .box{
        width: (100%/3);
        float: left;
        height: 250px;
       }

        .box1{
            background-color: palevioletred;
            h2{
                font-size: 20px+5;
                color: red;
            }
            @media screen and (max-width:600px) {
             
                 h2{
                    color: #000;
                    font-size: 25px-10;
                 }
              
            }
        }
          

        .box2{
             background-color: rgb(133, 216, 112);
        }

         
       .box3{
             background-color: rgb(216, 206, 112);
        }
      
}


