*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    // background-color: rgb(127, 187, 177);
    font-size: 16px;
    // color: aliceblue;

    ul{
        list-style: none;
    }
   
    p{
        font-size: 16px;
        line-height: 26px;

    }
}

// variable in sass changes the color 

$BasicColor : rgb(128, 9, 0);

h3 {
 color: $BasicColor;
}
p{
    color: $BasicColor;
}
button{
    background-color: $BasicColor;
    color: aliceblue;
}


